body {
  background-color:#d3d3d3;
}

h2 {
  text-align: center;
  font-family: arial;
}

p {
  text-align: center;
  font-family:arial;
  font-size:20px;
}

.calculator {
  border-radius: 10px;
  padding-top: 20px;
  background-color:#333;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width:500px;
  padding-bottom: 20px;
}
#total {
  background-color: #E9E9E9;
  width:400px;
}
#numbers {
  display:inline-block;
  padding-right: 300px;
  margin-right: 100px;
  width:500px;
}

div.button {
  background-color: orange;
  display:inline-block;
  width: 100px;
  font-size: 18px;
}

div.button.equals{
  width:200px;
}

.result button {
  background-color:red;
  width:400px;
}


