.background {

}
#calculator {
  width:;
  margin:;

.container {
 padding-left: 200px;

width:;

}

.row {
  display:inline-block;
  text-transform: center;
  margin-left:20;
  margin-right:20;
  width:300px;

}

.button {
    display:inline-block;
    width: 60px;



}