body{
background-color:#d3d3d3;
}
h2{
  text-align: center;
  font-family: arial;

}
h3{
  text-align: center;
  font-family: arial;

}
.calculator {
  width:500px;
  margin-left:200px;
}
.container {
 width:200px;
 margin-left: 100px;
 margin-right: 100px;


}

/*.columns {
    display: inline-block;
}
*/
.row {
  display:inline-block;
  text-transform: center;
  margin-left:100px;
  margin-right:100px;
   width:600px;

}

.button {
  background-color: orange;
    display:inline-block;
    width: 100px;

}

.double button{
  width:400px;

}